<ion-header>
  <ion-toolbar>
    <ion-title>
     Peso ideal Homens
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-item>
    <ion-label position="stacked">Sua altura:</ion-label>
    <ion-input type="number" [(ngModel)]="altura"></ion-input>
  </ion-item>
<br>
<ion-button color="primary" (click)="calcula()" expand="block">Calcular</ion-button>
<br>
  <ion-item>
    <ion-label position="stacked">Peso ideal:</ion-label>
    <ion-input  [value]="resultadoHomem()"></ion-input>
  </ion-item>

</ion-content>
