<ion-header>
  <ion-toolbar>
    <ion-title>
     Calcular IMC
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
    <ion-item>
        <ion-label position="stacked">Seu peso:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    <br>
    <ion-item>
        <ion-label position="stacked">Sua altura:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
    <ion-button color="dark" expand="block">Dark</ion-button>
    <br>
    <ion-item>
        <ion-label position="stacked">Resultado:</ion-label>
        <ion-input></ion-input>
      </ion-item>
</ion-content>
