<ion-header>
  <ion-toolbar>
    <ion-title>
     Calcular IMC
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
    <ion-item>
        <ion-label position="stacked">Seu peso:</ion-label>
        <ion-input type="number" [(ngModel)]="peso" ></ion-input>
      </ion-item>
    <br>
    <ion-item>
        <ion-label position="stacked">Sua altura:</ion-label>
        <ion-input type="number" [(ngModel)]="altura"> </ion-input>
      </ion-item>
      <br>
    <ion-button color="dark" (click)="calcula()" expand="block">Calcular</ion-button>
    <br>
    <ion-item>
        <ion-label position="stacked">Resultado:</ion-label>
        <ion-input [value]="resultadoImc()"></ion-input>
      </ion-item>
</ion-content>
